/* DEFAULT */

:root {
  --yellow: #ffd000;
}

body {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: .05em;
}

*:focus {
  outline: none;
}



/* CONTROLS */

#controls-wrapper {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

#image-cropper-controls {
  position: absolute;
  top: 20px;
  right: 20px;
}

.control__box {
  border: solid 1px #808080;
  padding: 10px;
  margin-top: 5px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

label {
  margin-right: 20px;
}

button {
  border: 1px #808080 solid;
  background: transparent;
  padding: 10px;
  flex-grow: 1;
  text-transform: uppercase;
  letter-spacing: .05em;
  transition: all .25s ease;
  margin-left: 5px;
  color: #000000;
  text-decoration: none;
}

button:first-of-type {
  margin-left: 0;
}

button:hover {
  background: var(--yellow);
  cursor: pointer;
}

#copy-instructions {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: none;
  justify-content: flex-end;
  padding: 0;
}


input[type=text] {
  flex-grow: 1;
}

/* STYLING RANGE INPUT */

input[type=range] {
  width: 150px;
  padding: 0;
  -webkit-appearance: none;
  background: transparent;
  height: 20px;
  flex-grow: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 150px;
  background: transparent; 
  border-color: transparent;
  color: transparent;
  flex-grow: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: var(--yellow);
  margin-top: -10px;
  border: 0;
  opacity: .85;
}

input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: var(--yellow);
  border: 0;
  opacity: .85;
}

input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #ffd000;
  border: 0;
  opacity: .85;
}



input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  background: #808080;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #808080;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  background: #808080;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #808080;
}
input[type=range]:focus::-ms-fill-lower {
  background: #808080;
}
input[type=range]::-ms-fill-upper {
  background: #808080;
}
input[type=range]:focus::-ms-fill-upper {
  background: #808080;
}


/* CANVAS SIZING */

#sketchCanvas {
  max-width: 1000px;
  max-height: 1000px;
  border: solid 1px #cccccc;
}

.flex-center {
  background-color: #e5e5e5;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (orientation: portrait) {
  #sketchCanvas {
    height: 90vw;
    width: 90vw;
  }
}

@media screen and (orientation: landscape) {
  #sketchCanvas {
    height: 90vh;
    width: 90vh;
  }
}

body {
  overflow: hidden;
}