#sketchCanvas {
  background-color: #e5e5e5;
  background-size: cover !important;
  max-width: 1000px;
  max-height: 1000px;
}

.flex-center {
  background-color: #e5e5e5;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../images/noise.gif);
  background-blend-mode: screen;
}

/* input[type="range"] {
  width: 500px;
} */

#controls {
  background-color: #808080;
  position: absolute;
  top: 0;
  left: 0;
}

@media (orientation: portrait) {
  #sketchCanvas {
    height: 100vw;
    width: 100vw;
  }
}

@media screen and (orientation: landscape) {
  #sketchCanvas {
    height: 100vh;
    width: 100vh;
  }
}